[Unit]
Description=Private Docker Register
After=docker.service
After=vulcand.service

[Service]
Restart=always
TimeoutStartSec=0
ExecStartPre=/bin/bash -c "/usr/bin/docker kill docker-register; echo '0'"
ExecStartPre=/bin/bash -c "/usr/bin/docker rm docker-register; echo '0'"
ExecStartPre=/usr/bin/docker pull registry
ExecStart=/usr/bin/docker run --name docker-register -p 80:5000 registry
ExecStop=/bin/bash -c "/usr/bin/docker kill docker-register; echo '0'"

[X-Fleet]
